            /*THESE WILL ALL NEEED TO BE MOVED TO THE CHECKOUT PAGE*/
/*            table{
                border: 1px solid black;
                margin-left: auto;
                margin-right: auto;    
                margin-top: 40px;
                border-spacing: 15px; 
                background-color: #d6d7dc;
            }*/
            
            h1{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 45px;
            }
            
            .left_container{
                float: left; 
                border: 1px solid black;
                width: 500px;
                height: 500px;
            }
            
            .checkout_table_row{
                border: 1px solid black;

            }
            
            .checkout_table_col{
                /*border: 1px solid black;*/
                width: 300px;
            }
            .right_container{
                border: 1px solid black;
                float: right; 
            }
