            h1{
                /*border: 1px solid black;*/
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 60px;
                /*text-decoration: underline;*/
            }
            
            h2{
                text-align: center;
                    display: block;
                    font-size: 30px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 0;
                    margin-right: 0;
                    font-weight: bold;
            }
            
            .overall_table{
                  /*border: 1px solid black;*/

            }
            
            /*This is all of the product/personal information*/
            .left_container{
                /*border: 1px solid black;*/
                float: left; 
                width: 500px;
                height: 1000px;
                margin-left: 300px;
            }
            .product_information_container{
                /*border: 1px solid black;*/
                /*float: left;*/
            }
            
            .product_table{
                
            }
            
            .product_image{
                max-height: 200px;
            }
            
            .image_col{
                padding-left: 28%;
            }
            .product_table_col{
                 /*border: 1px solid black;*/
                width: 300px;
                font-size: 20px;
                text-align: center;

            }
            
            .product_table_row{
            }
            
            
            .personal_information_container{
                /*border: 1px solid black;*/
                /*float: right;*/
            }
            
            .personal_table{
                /*border: 1px solid black;*/
            }
            .personal_table_row{
            }
            
            .personal_table_col{
                /*border: 1px solid black;*/
                width: 300px;
                font-size: 20px;
                padding: 3px;
                text-align: center;
                

            }
            
            .shipping_col{
                width: 300px;
                font-size: 20px;
                padding: 3px;
                padding-left: 15px;
            }
            .notes_column{
                /*border: 1px solid black;*/
                height: 120px;
                padding: 3px;
                font-size: 20px;
                text-align: center;

            }
            .notes{
                height: 97%; 
                width: 97%;
            }
            
            
            /*This is all of the order summary css*/
            .right_container{
                border: 3px solid black;
                float: right; 
                margin-right: 450px;
                margin-left: 150px;
                margin-bottom: 350px;

                height: 390px;
                width: 370px;
                background-color: #f2f2f2;
            }
            
            h3{
                font-size: 30px;
                text-align: center;
            }
            .order_summary_table{
                /*border: 1px solid black;*/
            }
            .order_summary_row{
                
            }
            
            .order_summary_col{
                /*border: 1px solid black;*/
                font-size: 20px;
                padding-left: 5px;
            }
            
            .order_summary_col_name{
                /*border: 1px solid black;*/
                font-size: 20px;
                padding-right: 70px;
                padding-left: 10px;

            }
            .submit_button_container{
                text-align: center;
                padding-top: 15px;
            }
            .order_button{
                height: 55px;
                width: 98%;
                background-color: #1a75ff;
                font-size: 20px;
            }